# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# Environment variables
*.env

# macOS
.DS_Store

# Logs
*.log

# Database
*.sqlite3

# Docker
*.pid
docker-compose.override.yml

# Misc
*.swp
*.swo

# Coverage
htmlcov/
.coverage
.coverage.*
.cache

# Test output
junit.xml

# Build
build/
dist/
*.egg-info/

# Other
.idea/

# Ignore requirements.txt lock files
requirements*.lock
